#courseEnrollment {
  padding: 0px 0px 40px 0px;

  .breadcrumb-box {
    padding: 80px 80px 0px 80px;

    .course-crumb {
      font-family: "Open Sans";
      font-weight: 500;
      font-size: 0.625rem;
    }
    .course-crumb-name {
      color: #252d41;
      font-family: "Open Sans";
      font-weight: 500;
      font-size: 0.625rem;
    }
    .topic-crumb-name {
      color: #666666;
      font-family: "Open Sans";
      font-weight: 500;
      font-size: 0.625rem;
    }
    .MuiBreadcrumbs-separator {
      margin: 0px;
      color: #252d41;
    }
    .MuiSvgIcon-root {
      width: 15px;
      height: 15px;
    }
  }

  .course-container {
    padding: 25px 80px 0px 80px;

    display: flex;
    justify-content: space-between;
    .course-wrapper {
      .course-chip {
        font-family: "Open Sans";
        font-size: 0.625rem;
        font-weight: 500;
        color: #16807e;
        background-color: #d2e4e4;
        border-radius: 4px;
      }
      .course-name {
        font-family: "Open Sans";
        font-size: 1.25rem;
        font-weight: 700;
        color: #252d41;
        padding: 5px 0px 15px 0px;
      }
      .course-description {
        font-family: "Open sans";
        font-size: 0.75rem;
        font-weight: 500;
        color: #252d41;
        opacity: 0.6;
        width: 70%;
      }
      .course-instructor {
        font-family: "Open Sans";
        font-size: 0.75rem;
        font-weight: 500;
        color: #999999;
      }
      .course-extras {
        font-family: "Open Sans";
        font-size: 0.75rem;
        font-weight: 500;
        color: #999999;
      }
      .btn-enroll {
        width: 10.625rem;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
      }
      .last-activity {
        font-family: "Open Sans";
        font-size: 0.75rem;
        font-weight: 500;
        color: #262626;
        opacity: 0.5;
      }

      .in-progress-box {
        display: flex;
        align-items: center;
        border: 1px solid #cccccc;
        border-radius: 4px;
        padding: 5px;
        cursor: pointer;
        .progress-text {
          font-family: "Open Sans";
          font-size: 0.875rem;
          font-weight: 500;
          color: #262626;
        }
        .progress-percent {
          color: #f89206;
          font-family: "Open Sans";
          font-size: 0.875rem;
          font-weight: 600;
        }
      }
    }
    .course-img {
      width: 23.125rem;
      height: 12.5rem;
      border-radius: 4px;
    }
  }
}
