#instutor-module {

  .cancel-item {
    color: #262626 !important;
    border-color: #1d366f !important;
    font-weight: 500;
    width: 100px;
    height: 40px;
    margin-right: 15px !important;
  }
  

  .next-item {
    background-color: #1d366f !important;
    width: 100px;
    height: 40px;
  }
  // .instutor-module{
  //     border-bottom: 2px solid;
  //     box-shadow: 0px 0.5px 0px 0.5px #666666;
  // }

  .appbar-container {
    margin-top: 9vh;
  }
}
