#courseForumDropDown {
  padding: 0px 80px 10px 80px;
  .dropdown-box {
    .course-dropdown {
      padding: 0px 15px 0px 0px;
      .course-label,
      .MuiInputLabel-root {
        color: #262626;
        opacity: 0.5;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 0.625rem;
        margin: 12px 0px 0px 0px;
      }
      .MuiInputBase-input {
        padding: 10px;
        height: 1.0625rem;
        width: 17vmax;
        font-family: "Open Sans";
        font-size: 0.75rem;
        font-weight: 500;
        color: #262626;
      }

      .MuiOutlinedInput-root {
        border-radius: 10px;
      }
    }
    .btn-ask,
    .MuiButton-root {
      width: 6.25rem;
      background-color: #262626 !important;
    }
    .recent-dropdown {
      padding: 0px 15px 0px 0px;
      .course-label,
      .MuiInputLabel-root {
        color: #262626;
        opacity: 0.5;
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 0.625rem;
        margin: 12px 0px 0px 0px;
      }
      .MuiInputBase-input {
        padding: 10px;
        height: 1.0625rem;
        width: 10vmax;
        font-family: "Open Sans";
        font-size: 0.75rem;
        font-weight: 500;
        color: #262626;
      }

      .MuiOutlinedInput-root {
        border-radius: 10px;
      }
    }
  }
}
