#courseSyllabus {
  .course-syllabus {
    padding: 25px 80px 50px 80px;
    .course-detail {
      font-family: "Open Sans";
      font-weight: 500;
      font-size: 0.75rem;
      color: #999999;
    }
    .accord {
      margin-bottom: 20px;
      padding-top: 5px;
      border: 1px solid #d8d8d8;
      border-radius: 5px 5px 1px 1px;
      background-color: #ffffff;
      box-shadow: none;
      .MuiAccordionSummary-root.Mui-expanded {
        height: 0px !important;
      }
      .topic {
        font-family: "Open Sans";
        font-size: 0.625rem;
        font-weight: 400;
        color: #212121;
        margin: 0px;
      }
      .topic-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .topic-header {
        color: #212121;
        font-family: "Open Sans";
        font-size: 0.75rem;
        font-weight: 700;
        margin: 5px 0px 0px 0px;
      }
      .MuiAccordionSummary-content {
        display: flex;
        flex-direction: column;
      }
      .assignment-icon {
        font-family: "Open Sans";
        font-weight: 500;
        font-size: 0.625rem;
        color: #999999;
        padding-right: 20px;
      }
      .task-icon {
        padding-right: 5px;
      }
      .time-icon {
        padding-right: 10px;
      }
      .accordion-details {
        border: 1px solid #d8d8d8;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        .assignment {
          font-family: "Open Sans";
          font-size: 0.75rem;
          font-weight: 500;
          color: #212121;
        }
        .status-assgiment {
          opacity: 0.5;
          color: #212121;
          font-family: "Open Sans";
          font-size: 0.625rem;
          font-weight: 500;
          padding-right: 20px;
        }
        .task-time-icon {
          padding-right: 10px;
        }
      }
    }
  }
}
