#instructorregisterForm {
    padding-top: 60px;
    .MuiContainer-root {
      padding: 15px 50px 1px 50px;
    }
  
    .register-box-model {
      height: 72vh;
      background-color: #ffffff;
      border: 1px solid #EEEEEE;
      border-radius: 10px;
      padding: 30px;
      .form-header-text {
        color: #1d366f;
        font-weight: 700;
        text-align: center;
      }
      .register-header {
        text-align: center;
        font-size: 14px;
        color: #666666;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
      }
      label {
        font-family: "Open Sans";
        font-weight: 500;
        color: #666666;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 5px;
      }
      .MuiTextField-root {
        font-family: "Open Sans", sans-serif;
        width: 100%;
        font-size: 12px;
        border-color: #d8d8d8;
        opacity: 0.7;
      }
      .error-msg {
        font-size: 10px;
        font-family: "open Sans";
        font-weight: 500;
        color: red;
        padding-left: 10px;
      }
      .MuiOutlinedInput-root {
        height: 30px;
        font-size: 12px;
      }
      .condition-subtext.MuiTypography-root {
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        text-align: center;
        padding-top: 15px;
      }
      .login-btn.MuiButton-root {
        margin-top: 15px;
        text-align: center;
        width: 100%;
      }
      .MuiButton-root:disabled {
        color: #ffffff;
        background-color: #1d366f;
        opacity: 0.6;
        cursor: not-allowed;
      }
      a {
        text-decoration: none;
      }
      span {
        color: #1d366f;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .login-footer-text {
      font-family: "Open Sans";
      font-weight: 500;
      color: #999999;
      font-size: 12px;
      padding-top: 10px;
      text-align: center;
      margin: 0px;
      span {
        color: #666666;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
  