#accordionFaq {
  .MuiBox-root {
    border: 1px solid #d8d8d8;
    border-radius: 5px 5px 1px 1px;
  }

  .accordian-container {
    .accordian-header {
      font-family: "open sans";
      font-size: 0.825rem;
      font-weight: 700;
      color: #212121;
      text-align: justify;
    }
    .accordian-content {
      font-family: "Open Sans";
      font-size: 0.825rem;
      font-weight: 500;
      color: #212121;
      text-align: justify;
      margin-left: 47px;
      cursor: pointer;
    }
    .MuiAccordionSummary-root {
      flex-direction: row-reverse;
    }
    .MuiAccordion-root {
      margin: 0 !important;
      border: 1px solid #d8d8d8 !important;
      background-color: #ffffff;
    }
    .MuiAccordionSummary-expandIconWrapper {
      padding: 10px;
      transition: transform 900ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
    }
    .MuiAccordionDetails-root {
      padding: 0px 16px 16px;
    }
    .MuiAccordionSummary-content.Mui-expanded {
      margin: 6px 0;
    }
    .Mui-expanded {
      min-height: 20px;
    }
  }
}
