* {
  margin: 0%;
  padding: 0%;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./Assets/fonts/SF-Pro-Display/SF-Pro-Display-Light.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./Assets/fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./Assets/fonts/SF-Pro-Display/SF-Pro-Display-Medium.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Open Sans";
  src: url("./Assets/fonts/Open Sans/OpenSans-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("./Assets/fonts/Open Sans/OpenSans-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Open Sans";
  src: url("./Assets/fonts/Open Sans/OpenSans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url("./Assets/fonts/Open Sans/OpenSans-SemiBold.ttf");
  font-weight: 700;
}
