#registerForm {
  padding-top: 5%;

  .MuiContainer-root {
    padding: 35px 50px 10px 50px;
  }

  .register-box-model {
    height: 450px !important;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px #00000010;
    border-radius: 10px;
    padding: 35px;

    .form-header-text {
      color: #1d366f;
      font-weight: 700;
      text-align: center;
    }

    .register-header {
      text-align: center;
      font-size: 0.875rem;
      color: #666666;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
    }

    label {
      font-family: "Open Sans";
      font-weight: 500;
      color: #666666;
      font-size: 0.75rem;
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .MuiTextField-root {
      font-family: "Open Sans", sans-serif;
      width: 100%;
      font-size: 0.75rem;
      border-color: #d8d8d8;
      opacity: 0.7;
    }
    .error-msg {
      font-size: 0.625rem;
      font-family: "open Sans";
      font-weight: 500;
      color: red;
      padding-left: 10px;
    }
    .MuiOutlinedInput-root {
      height: 30px;
      font-size: 0.75rem;
    }

    .condition-subtext.MuiTypography-root {
      font-size: 0.75rem;
      font-family: "Open Sans", sans-serif;
      text-align: center;
      padding-top: 5px;
    }

    .login-btn.MuiButton-root {
      margin-top: 15px;
      text-align: center;
      width: 100%;
    }

    .MuiButton-root:disabled {
      color: #ffffff;
      background-color: #1d366f;
      opacity: 0.6;
      cursor: not-allowed;
    }

    a {
      text-decoration: none;
    }

    span {
      color: #1d366f;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .login-footer-text {
    font-family: "Open Sans";
    font-weight: 500;
    color: #999999;
    font-size: 0.75rem;
    padding-top: 10px;
    text-align: center;
    margin: 0px;

    span {
      color: #666666;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
